In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/mnt/d/Documents/数学建模国赛/C题目/附件1.xlsx')

In [3]:
df.info()
len(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114183 entries, 0 to 114182
Columns: 135 entries, eventid to related
dtypes: datetime64[ns](1), float64(54), int64(23), object(57)
memory usage: 117.6+ MB

135

# 精简维度信息

## I. GTD的标志号和日期
`approxdate`空值太多，取消

In [17]:
fields1 = ['eventid','iyear','imonth','iday','extended','resolution']

df[fields1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114183 entries, 0 to 114182
Data columns (total 6 columns):
eventid       114183 non-null int64
iyear         114183 non-null int64
imonth        114183 non-null int64
iday          114183 non-null int64
extended      114183 non-null int64
resolution    917 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5)
memory usage: 5.2 MB

## II. 事件信息
取消`summary`

In [5]:
fields2 = ['crit1','crit2','crit3','doubtterr','alternative','multiple','related']

df[fields2]

,crit1,crit2,crit3,doubtterr,alternative,multiple,related
0,1,1,1,1.0,1.0,0.0,NaN
1,1,1,1,0.0,NaN,0.0,NaN
2,1,1,1,0.0,NaN,0.0,NaN
3,1,1,1,0.0,NaN,0.0,NaN
4,1,1,1,0.0,NaN,0.0,NaN
5,1,1,1,0.0,NaN,1.0,"199801040001, 199801040002"
6,1,1,1,0.0,NaN,1.0,"199801040002, 199801040001"
7,1,1,1,0.0,NaN,0.0,NaN
8,1,1,1,0.0,NaN,1.0,"199801050002, 199801060002"
9,1,1,1,0.0,NaN,1.0,"199801050003, 199801050004"
10,1,1,1,0.0,NaN,1.0,"199801050004, 199801050003"
11,1,1,0,1.0,1.0,0.0,NaN
12,1,1,1,0.0,NaN,1.0,"199801060002, 199801050002"
13,1,1,1,0.0,NaN,1.0,"199801060003, 199801060004"
14,1,1,1,0.0,NaN,1.0,"199801060004, 199801060003"
15,1,1,1,0.0,NaN,0.0,NaN
16,1,1,1,0.0,NaN,1.0,"199801080001, 199801080002"
17,1,1,1,0.0,NaN,1.0,"199801080002, 199801080001"
18,1,1,1,0.0,NaN,0.0,NaN
19,1,1,1,0.0,NaN,0.0,NaN
20,1,1,1,0.0,NaN,0.0,NaN
21,1,1,1,0.0,NaN,0.0,NaN
22,1,1,1,1.0,2.0,0.0,NaN
23,1,1,1,0.0,NaN,0.0,NaN
24,1,1,1,0.0,NaN,0.0,NaN
25,1,1,1,0.0,NaN,0.0,NaN
26,1,1,1,0.0,NaN,1.0,"199801110004, 199801110005"
27,1,1,1,0.0,NaN,1.0,"199801110005, 199801110004"
28,1,1,1,0.0,NaN,1.0,"199801120001, 199801120002, 199801120003"
29,1,1,1,0.0,NaN,1.0,"199801120002, 199801120001, 199801120003"
...,...,...,...,...,...,...,...
114153,1,1,1,0.0,NaN,0.0,NaN
114154,1,1,0,1.0,1.0,0.0,NaN
114155,1,1,1,0.0,NaN,0.0,NaN
114156,1,1,1,0.0,NaN,0.0,NaN
114157,1,1,1,0.0,NaN,0.0,NaN
114158,1,1,1,0.0,NaN,0.0,NaN
114159,1,1,0,1.0,1.0,0.0,NaN
114160,1,1,0,1.0,1.0,0.0,NaN
114161,1,1,1,0.0,NaN,1.0,"201712300005, 201712310002"
114162,1,1,1,0.0,NaN,0.0,NaN
114163,1,1,1,0.0,NaN,0.0,NaN
114164,1,1,1,0.0,NaN,0.0,NaN
114165,1,1,1,0.0,NaN,0.0,NaN
114166,1,1,0,1.0,1.0,0.0,NaN
114167,1,1,1,0.0,NaN,0.0,NaN
114168,1,1,1,0.0,NaN,0.0,NaN
114169,1,1,1,0.0,NaN,0.0,NaN
114170,1,1,1,0.0,NaN,0.0,NaN
114171,1,1,0,1.0,1.0,0.0,NaN
114172,1,1,0,1.0,1.0,0.0,NaN
114173,1,1,1,0.0,NaN,0.0,NaN
114174,1,1,1,0.0,NaN,0.0,NaN
114175,1,1,1,0.0,NaN,0.0,NaN
114176,1,1,1,0.0,NaN,0.0,NaN
114177,1,1,1,0.0,NaN,0.0,NaN
114178,1,1,0,1.0,1.0,0.0,NaN
114179,1,1,0,1.0,1.0,0.0,NaN
114180,1,1,1,0.0,NaN,0.0,NaN
114181,1,1,1,0.0,NaN,0.0,NaN
114182,1,1,1,0.0,NaN,0.0,NaN

## III. 事件地点

In [6]:
fields3 = ['country', 'region', 'provstate', 'city', 'vicinity', 'specificity']
# 将 provstate city 字符串转为数字
# 没有添加经纬度
df[fields3]

,country,region,provstate,city,vicinity,specificity
0,34,11,Bujumbura Mairie,Bujumbura,0,1.0
1,167,9,Moscow (Federal City),Moscow,0,1.0
2,603,8,Northern Ireland,Belfast,0,1.0
3,95,10,Baghdad,Baghdad,0,1.0
4,155,10,West Bank,Unknown,0,4.0
5,118,9,Kumanovo (Municipality),Kumanovo,0,1.0
6,118,9,Prilep (Municipality),Prilep,0,1.0
7,15,8,Styria,Graz,0,1.0
8,86,3,Demerara-Mahaica,Georgetown,0,1.0
9,168,11,Gitarama,Gitarama,0,1.0
10,168,11,Gitarama,Gitarama,0,1.0
11,34,11,Maramvya,Maramvya,0,1.0
12,86,3,Demerara-Mahaica,Georgetown,0,1.0
13,6,10,Relizane (Province),Had Chekala,0,4.0
14,6,10,Relizane (Province),Remka,0,1.0
15,603,8,Northern Ireland,Banbridge,0,1.0
16,6,10,Saida (Province),Saida,0,1.0
17,6,10,Bouira (Province),Sour El Ghozlane,0,1.0
18,185,8,Basque Country,Zarauz,0,1.0
19,92,6,Delhi,New Delhi,0,1.0
20,6,10,Bouira (Province),El Hachimia,0,1.0
21,6,10,Boussaken (Province),Ouled Aissa,0,1.0
22,6,10,Muaskar (Province),Muaskar,1,1.0
23,78,8,Attica,Athens,0,1.0
24,603,8,Northern Ireland,Belfast,0,1.0
25,153,6,Punjab,Lahore,0,1.0
26,6,10,Algiers (Province),Sidi Hamed,0,2.0
27,6,10,Algiers (Province),Haouch Sahraoui,1,5.0
28,5,9,Gjirokaster,Gjirokaster,0,1.0
29,5,9,Gjirokaster,Gjirokaster,0,1.0
...,...,...,...,...,...,...
114153,92,6,Andhra Pradesh,Talacheru,0,2.0
114154,160,5,Davao Oriental,Tarragona,1,1.0
114155,92,6,Kerala,Koothuparamba,0,1.0
114156,603,8,Northern Ireland,Belfast,0,1.0
114157,92,6,Chhattisgarh,Toylanka,0,1.0
114158,147,11,Borno,Konduga district,0,3.0
114159,200,10,Damascus,Harasta,0,1.0
114160,95,10,Kirkuk,Shurjah,0,1.0
114161,95,10,Kirkuk,Kirkuk,0,1.0
114162,95,10,Diyala,Hawd al-Waqf,0,2.0
114163,95,10,Saladin,Farhatiyah,0,1.0
114164,92,6,Jammu and Kashmir,Lethapora,0,1.0
114165,4,6,Nangarhar,Jalalabad,0,1.0
114166,95,10,Nineveh,Baaj,0,1.0
114167,182,11,Banaadir,Mogadishu,0,1.0
114168,4,6,Logar,Mohammad Agha district,0,3.0
114169,160,5,Maguindanao,Limpogo,0,2.0
114170,160,5,North Cotabato,Pikit district,0,3.0
114171,95,10,Diyala,Muqdadiyah,1,1.0
114172,182,11,Bakool,Wajid,0,1.0
114173,160,5,Maguindanao,Shariff Aguak,0,1.0
114174,98,8,Marche,Spinetoli,0,1.0
114175,4,6,Faryab,Kohistan district,0,3.0
114176,92,6,Assam,Hungrum,0,2.0
114177,4,6,Faryab,Maymana,0,1.0
114178,182,11,Middle Shebelle,Ceelka Geelow,0,2.0
114179,200,10,Lattakia,Jableh,1,1.0
114180,160,5,Maguindanao,Kubentog,0,2.0
114181,92,6,Manipur,Imphal,0,1.0
114182,160,5,Maguindanao,Cotabato City,0,1.0

## IV 攻击信息

In [7]:
fields4 = ['attacktype1','attacktype1','attacktype1','success','suicide']
df[fields4]

        attacktype1  attacktype1  attacktype1  success  suicide
0                 2            2            2        1        0
1                 3            3            3        1        0
2                 2            2            2        1        0
3                 3            3            3        1        0
4                 2            2            2        0        0
5                 3            3            3        1        0
6                 3            3            3        1        0
7                 3            3            3        0        0
8                 3            3            3        1        0
9                 2            2            2        1        0
10                2            2            2        1        0
11                7            7            7        1        0
12                3            3            3        1        0
13                2            2            2        1        0
14                2            2            2        1        0
15                3            3            3        0        0
16                2            2            2        1        0
17                2            2            2        1        0
18                3            3            3        1        0
19                3            3            3        1        0
20                2            2            2        1        0
21                3            3            3        1        0
22                2            2            2        1        0
23                3            3            3        1        0
24                2            2            2        1        0
25                2            2            2        1        0
26                3            3            3        1        0
27                3            3            3        1        0
28                3            3            3        1        0
29                3            3            3        1        0
...             ...          ...          ...      ...      ...
114153            7            7            7        1        0
114154            3            3            3        1        0
114155            3            3            3        1        0
114156            2            2            2        1        0
114157            7            7            7        1        0
114158            7            7            7        1        0
114159            3            3            3        1        1
114160            3            3            3        1        0
114161            3            3            3        1        0
114162            9            9            9        1        0
114163            3            3            3        1        0
114164            2            2            2        1        1
114165            3            3            3        1        0
114166            9            9            9        0        0
114167            3            3            3        1        0
114168            3            3            3        1        0
114169            7            7            7        1        0
114170            3            3            3        1        0
114171            2            2            2        0        0
114172            3            3            3        1        0
114173            3            3            3        1        0
114174            7            7            7        1        0
114175            2            2            2        1        0
114176            6            6            6        1        0
114177            3            3            3        1        0
114178            2            2            2        1        0
114179            3            3            3        1        0
114180            7            7            7        1        0
114181            3            3            3        0        0
114182            3            3            3        0        0

[114183 rows x 5 columns]

## V. 武器信息

In [8]:
fields5 = ['weaptype1','weapsubtype1']
# 子类型2后数据太少舍弃
# word中字段说明错误 weaptype1

int(df.weapsubtype2.count()/114182*100)

# df[fields5]

7

## VI. 目标/受害者信息

In [9]:
fields6 = ['targtype1','corp1','target1','natlty1']
int(df.natlty1.count()/114182*100)

df[fields6]

,targtype1,corp1,target1,natlty1
0,4,Burundi Military,Burundi Military at Bujumbura Airport,34.0
1,19,Moscow Metro System,An underground passage in the Moscow Metro,167.0
2,14,Civilian,Eddie Trainor,233.0
3,7,United Nations,UNSCOM Office Building in Baghdad,999.0
4,14,Civilian,Israeli Civilian,97.0
5,3,Macedonian Police,Police station in Kumanovo,118.0
6,3,Macedonian Police,Police station in Prilep,118.0
7,3,Styrian Police,Styrian Land Police Command,15.0
8,10,NaN,Television station in Georgetown,86.0
9,14,Civilians,Civilians in the Nyabikenke Commune,168.0
10,14,Civilians,Civilians in the Nyakabanda Commune,168.0
11,4,Burundi Military,Burundi Military Post in the village of Maramvya,34.0
12,1,Le Meridien Pegasus Hotel,Kingston Wing of Le Meridien Pegasus Hotel,86.0
13,14,Civilans,Algerian Civilians in the village of Had Chekala,6.0
14,14,Civilans,Algerian Civilians in the village of Remka,6.0
15,14,City of Banbridge,Newry Street in Banbridge,233.0
16,14,Civilians,Civilians in Saida,6.0
17,14,Civilians,Civilians in Sour El Ghozlane,6.0
18,2,Spain's Popular Party,Jose Ignacio Irureta Goyena,185.0
19,14,Civilians,Civilians in New Delhi,92.0
20,14,Civilans,Thirty Algerian Civilians in El Hachimia,6.0
21,14,Civilans,Civilians in Ouled Aissa,6.0
22,14,Civilans,Two motorists at a fake police checkpoint betw...,6.0
23,2,Greek Finance Ministry,Greek Finance Ministry's Data Processing Center,78.0
24,14,Civilians,Catholic Civilians at the Space Nightclub,233.0
25,14,Civilians,Shiite Civilians at Mominpura Graveyard,153.0
26,1,Civilians,Civilians in a movie theater in Simi Hamed,6.0
27,15,Civilians,Civilians in a mosque in Haouch Sahraoui,6.0
28,2,Albanian Socialist Party,Albanian Socialist Party Building,5.0
29,2,Albanian Prosecutor's Office,Prosecutor's Office,5.0
...,...,...,...,...
114153,15,Noorani Masjid,Masjid,92.0
114154,4,Armed Forces of the Philippines (AFP),Soldiers,160.0
114155,3,Indian Police Service (IPS),Koothuparamba Police Station,92.0
114156,14,Not Applicable,Civilians,233.0
114157,1,Unknown,Road Construction Site,92.0
114158,14,Not Applicable,Convoy,147.0
114159,4,Syrian Army,Base,200.0
114160,4,Iraqi Special Operations Forces (ISOF),Patrol,95.0
114161,1,Unknown,Cafe,95.0
114162,3,Iraqi Police Service (IPS),Station,95.0
114163,14,Not Applicable,Civilians,95.0
114164,3,Central Reserve Police Force (CRPF),Camp,92.0
114165,14,Not Applicable,Funeral Procession of Former District Governor,4.0
114166,4,Iraqi Volunteer Forces,Troops,95.0
114167,4,African Union Mission in Somalia (AMISOM),Burundian Convoy,422.0
114168,3,Afghan Local Police (ALP),Vehicle,4.0
114169,14,Datu Hoffer Ampatuan Town,Town,160.0
114170,1,Pacalna Variety Store,Store,160.0
114171,4,Iraqi Volunteer Forces,Post,95.0
114172,4,African Union Mission in Somalia (AMISOM),Ethiopian Base,422.0
114173,3,Philippine National Police (PNP),Patrol,160.0
114174,14,Unknown,Migrant Center,98.0
114175,17,National Uprising Movement (NUM),House of Member,4.0
114176,2,NC Hills Autonomous Council,Personal Security Officer of Council Member Ih...,92.0
114177,1,Unknown,Jewelry Shop,4.0
114178,4,Somali National Army (SNA),Checkpoint,182.0
114179,4,Russian Air Force,Hmeymim Air Base,167.0
114180,14,Not Applicable,Houses,160.0
114181,2,Forest Department Manipur,Office,92.0
114182,20,Unknown,Unknown,160.0

## VII. 凶手信息
**motive**咱没有考虑

In [10]:
fields7 = ['gname', 'guncertain1','nperps','nperpcap','claimed','claimmode','compclaim','claim2']
int(df.claim2.count()/114182*100)

df[fields7]

,gname,guncertain1,nperps,nperpcap,claimed,claimmode,compclaim,claim2
0,Hutu extremists,0.0,100.0,NaN,0,NaN,NaN,NaN
1,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
2,Loyalist Volunteer Forces (LVF),0.0,NaN,0.0,1,8.0,-9.0,NaN
3,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
4,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
5,Kosovo Liberation Army (KLA),1.0,NaN,NaN,1,10.0,-9.0,NaN
6,Kosovo Liberation Army (KLA),1.0,NaN,NaN,1,10.0,-9.0,NaN
7,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
8,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
9,Hutu extremists,0.0,NaN,NaN,0,NaN,NaN,NaN
10,Hutu extremists,0.0,NaN,NaN,0,NaN,NaN,NaN
11,Hutu extremists,0.0,NaN,NaN,0,NaN,NaN,NaN
12,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
13,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
14,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
15,Continuity Irish Republican Army (CIRA),0.0,NaN,NaN,1,3.0,-9.0,NaN
16,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
17,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
18,Basque Fatherland and Freedom (ETA),1.0,NaN,0.0,0,NaN,NaN,NaN
19,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
20,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
21,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
22,Unknown,0.0,NaN,0.0,0,NaN,NaN,NaN
23,Fighting Guerrilla Formation,0.0,NaN,NaN,0,NaN,NaN,NaN
24,Loyalist Volunteer Forces (LVF),0.0,NaN,0.0,1,10.0,-9.0,NaN
25,Lashkar-e-Jhangvi,0.0,NaN,0.0,1,2.0,-9.0,NaN
26,Armed Islamic Group (GIA),0.0,100.0,NaN,0,NaN,NaN,NaN
27,Armed Islamic Group (GIA),0.0,100.0,NaN,0,NaN,NaN,NaN
28,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
29,Unknown,0.0,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
114153,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114154,New People's Army (NPA),0.0,-99.0,0.0,0,NaN,NaN,NaN
114155,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114156,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114157,Communist Party of India - Maoist (CPI-Maoist),0.0,12.0,0.0,0,NaN,NaN,NaN
114158,Boko Haram,0.0,-99.0,0.0,0,NaN,NaN,NaN
114159,Hay'at Tahrir al-Sham,0.0,-99.0,0.0,0,NaN,NaN,0.0
114160,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114161,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114162,Islamic State of Iraq and the Levant (ISIL),0.0,-99.0,0.0,1,7.0,NaN,NaN
114163,Islamic State of Iraq and the Levant (ISIL),0.0,-99.0,0.0,0,NaN,NaN,NaN
114164,Jaish-e-Mohammad (JeM),0.0,3.0,0.0,1,8.0,NaN,NaN
114165,Khorasan Chapter of the Islamic State,1.0,-99.0,0.0,0,NaN,NaN,NaN
114166,Islamic State of Iraq and the Levant (ISIL),0.0,-99.0,0.0,0,NaN,NaN,NaN
114167,Al-Shabaab,0.0,-99.0,0.0,1,4.0,NaN,NaN
114168,Taliban,0.0,-99.0,0.0,1,8.0,NaN,NaN
114169,Bangsamoro Islamic Freedom Movement (BIFM),0.0,-99.0,0.0,0,NaN,NaN,NaN
114170,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114171,Islamic State of Iraq and the Levant (ISIL),0.0,-99.0,0.0,0,NaN,NaN,NaN
114172,Al-Shabaab,0.0,-99.0,0.0,0,NaN,NaN,NaN
114173,Bangsamoro Islamic Freedom Movement (BIFM),0.0,-99.0,0.0,0,NaN,NaN,NaN
114174,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114175,Taliban,0.0,-99.0,0.0,0,NaN,NaN,NaN
114176,Zeliangrong United Front,0.0,-99.0,0.0,0,NaN,NaN,NaN
114177,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114178,Al-Shabaab,0.0,-99.0,0.0,1,10.0,NaN,NaN
114179,Muslim extremists,0.0,-99.0,0.0,0,NaN,NaN,NaN
114180,Bangsamoro Islamic Freedom Movement (BIFM),0.0,-99.0,0.0,0,NaN,NaN,NaN
114181,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN
114182,Unknown,0.0,-99.0,0.0,0,NaN,NaN,NaN

## VIII. 伤亡和后果
未使用`divert`

In [11]:
fields8 = ['nkill', 'nkillus','nkillter','nwound','nwoundus','nwoundte','property','propextent','propvalue', 'ishostkid','nhostkid','nhostkidus','nhostkidus','ndays','ransom','ransomamt','ransompaidus','hostkidoutcome','nreleased']
# ishostkidus nhostkidus
df[fields8].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114183 entries, 0 to 114182
Data columns (total 19 columns):
nkill             109903 non-null float64
nkillus           113815 non-null float64
nkillter          111507 non-null float64
nwound            105951 non-null float64
nwoundus          113606 non-null float64
nwoundte          109678 non-null float64
property          114183 non-null int64
propextent        46836 non-null float64
propvalue         28888 non-null float64
ishostkid         114180 non-null float64
nhostkid          9351 non-null float64
nhostkidus        9298 non-null float64
nhostkidus        9298 non-null float64
ndays             6961 non-null float64
ransom            10260 non-null float64
ransomamt         676 non-null float64
ransompaidus      547 non-null float64
hostkidoutcome    9338 non-null float64
nreleased         9106 non-null float64
dtypes: float64(18), int64(1)
memory usage: 16.6 MB

## IX. 附加信息和来源

In [12]:
fields9 = ['INT_LOG','INT_IDEO','INT_MISC','INT_ANY']
int(df.INT_LOG.count()/114182*100)

df[fields9].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114183 entries, 0 to 114182
Data columns (total 4 columns):
INT_LOG     114183 non-null int64
INT_IDEO    114183 non-null int64
INT_MISC    114183 non-null int64
INT_ANY     114183 non-null int64
dtypes: int64(4)
memory usage: 3.5 MB

# 数据整合

In [85]:
fields_all = fields1 + fields2 +  fields3 +  fields4 +  fields5 +  fields6 +  fields7 +  fields8 +  fields9
print(fields_all)
df_target = df[fields_all]

df_target.info()

['eventid', 'iyear', 'imonth', 'iday', 'extended', 'resolution', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'multiple', 'related', 'country', 'region', 'provstate', 'city', 'vicinity', 'specificity', 'attacktype1', 'attacktype1', 'attacktype1', 'success', 'suicide', 'weaptype1', 'weapsubtype1', 'targtype1', 'corp1', 'target1', 'natlty1', 'gname', 'guncertain1', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'compclaim', 'claim2', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propvalue', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhostkidus', 'ndays', 'ransom', 'ransomamt', 'ransompaidus', 'hostkidoutcome', 'nreleased', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114183 entries, 0 to 114182
Data columns (total 61 columns):
eventid           114183 non-null int64
iyear             114183 non-null int64
imonth            114183 non-null int64
iday              114183 non-null int64
extended          114183 non-null int64
resolution        917 non-null datetime64[ns]
crit1             114183 non-null int64
crit2             114183 non-null int64
crit3             114183 non-null int64
doubtterr         114182 non-null float64
alternative       18478 non-null float64
multiple          114182 non-null float64
related           18043 non-null object
country           114183 non-null int64
region            114183 non-null int64
provstate         114173 non-null object
city              113749 non-null object
vicinity          114183 non-null int64
specificity       114177 non-null float64
attacktype1       114183 non-null int64
attacktype1       114183 non-null int64
attacktype1       114183 non-null int64
success           114183 non-null int64
suicide           114183 non-null int64
weaptype1         114183 non-null int64
weapsubtype1      105092 non-null float64
targtype1         114183 non-null int64
corp1             103829 non-null object
target1           114011 non-null object
natlty1           113057 non-null float64
gname             114183 non-null object
guncertain1       113803 non-null float64
nperps            101017 non-null float64
nperpcap          110815 non-null float64
claimed           114183 non-null int64
claimmode         18729 non-null float64
compclaim         4776 non-null float64
claim2            1866 non-null float64
nkill             109903 non-null float64
nkillus           113815 non-null float64
nkillter          111507 non-null float64
nwound            105951 non-null float64
nwoundus          113606 non-null float64
nwoundte          109678 non-null float64
property          114183 non-null int64
propextent        46836 non-null float64
propvalue         28888 non-null float64
ishostkid         114180 non-null float64
nhostkid          9351 non-null float64
nhostkidus        9298 non-null float64
nhostkidus        9298 non-null float64
ndays             6961 non-null float64
ransom            10260 non-null float64
ransomamt         676 non-null float64
ransompaidus      547 non-null float64
hostkidoutcome    9338 non-null float64
nreleased         9106 non-null float64
INT_LOG           114183 non-null int64
INT_IDEO          114183 non-null int64
INT_MISC          114183 non-null int64
INT_ANY           114183 non-null int64
dtypes: datetime64[ns](1), float64(30), int64(24), object(6)
memory usage: 53.1+ MB

**数据处理实现目标**
- 将`iyear``imonth``iday`拼成日期 并结合`resolution`生成新字段`持续时间`
- `provstate` `city` `corp1` `target1` `gname` 将`string`转为类别编号
  
  
  首先实现2

In [86]:
# 替换城市
cities = set(df_target.city)
dict_city = dict(zip(cities, list(range(len(cities)))))
df_target.city = df_target.city.apply(lambda x : dict_city.get(x))
df_target.city = pd.to_numeric(df_target.city)
print(len(cities), df_target.city.max())

# 替换 provstate
provstates = set(df_target.provstate)
dict_provstates = dict(zip(provstates, list(range(len(provstates)))))
df_target.provstate = df_target.provstate.apply(lambda x : dict_provstates.get(x))
df_target.provstate = pd.to_numeric(df_target.provstate)
print(len(provstates), df_target.provstate.max())

# 替换 corp1
corp1s = set(df_target.corp1)
dict_corp1s = dict(zip(corp1s, list(range(len(corp1s)))))
df_target.corp1 = df_target.corp1.apply(lambda x : dict_corp1s.get(x))
df_target.corp1 = pd.to_numeric(df_target.corp1)
print(len(corp1s), df_target.corp1.max())

# 替换 target1
target1s = set(df_target.target1)
dict_target1s = dict(zip(target1s, list(range(len(target1s)))))
df_target.target1 = df_target.target1.apply(lambda x : dict_target1s.get(x))
df_target.target1 = pd.to_numeric(df_target.target1)
print(len(target1s), df_target.target1.max())

# 替换 gname
gnames = set(df_target.gname)
dict_gnames = dict(zip(gnames, list(range(len(gnames)))))
df_target.gname = df_target.gname.apply(lambda x : dict_gnames.get(x))
df_target.gname = pd.to_numeric(df_target.gname)
print(len(gnames), df_target.gname.max())

/home/nocater/anaconda3/envs/ml/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

26873 26872
2180 2179
23042 23041
49322 49321
1583 1582

In [87]:
df_target.to_csv('/mnt/c/Users/chenshuai/Desktop/GTD_v1.csv')